SYSTEMHAUS_PORT=8081
SESSION_SECRET=bitte-durch-langen-zufaelligen-wert-ersetzen
COOKIE_SECURE=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
# ADMIN_PASSWORD_FORCE=1  # nur setzen, um Passwort aus Env zu erzwingen
